*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}
body{
    background-color:#FDF5E6;
}
.text{
    font-size: 36px;
    margin: 20px;
}
.block{
    left: 20px;
    width: 100px;
    height: 100px;
    background-color: black;
    position: fixed;
}